h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: cornsilk;
}
body {
    background-color: rgb(54, 52, 52);
    /* background-image: url("https://kfoxtv.com/resources/media/7f5ca573-9056-41cc-a69a-e6fe9202c72d-large16x9_ThinkstockPhotos156285718.jpg?1577751212257"); */
    background-image: url("https://cdn.pixabay.com/photo/2019/02/26/05/44/fireworks-4021214_1280.jpg");
    opacity: .7;
}
.light {
    color:cornsilk;
    font-family: 'Cinzel', serif;
}
.input-field {
    font-family: 'Cinzel', serif;
    color: cornsilk;
    opacity: .5;
    padding: 80px;
}
.inputText {
    
    color: cornsilk !important;
}
.addp {
    padding: 3rem;
}
#search {
    font-family: 'Cinzel', serif;
    color: cornsilk; 
}
.card {
    opacity: 1;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }